/*fichier : css/main.scss */

/* import du fichier _reset */
@import "reset";
/* import du fichier _variables */
@import "variables";
/* google fonts */

/* Police d'ecriture par default*/
@font-face {
        font-family: "Ubuntu";

        src: url("../webfonts/Ubuntu-Regular.woff") format("woff"),
        /* Moderne Browsers */
                 url("../webfonts/Ubuntu-Regular.woff2") format("woff2");
                 /* Modern Browsers */
        font-weight:  normal;
}

@font-face {
        font-family: "Ubuntu";

        src: url("../webfonts/Ubuntu-bold.woff") format("woff"),
        /* Moderne Browsers */
                 url("../webfonts/Ubuntu-bold.woff2") format("woff2");
                 /* Modern Browsers */
        font-weight:  bold;
}

html, body{
	font-family: Ubuntu;
	font-size: 1.0rem;
	position: relative;
	box-sizing: border-box;
  background: $blc;

}
/*///////////////////////////////*/
a{
	text-decoration: none;
	color: inherit;
}
.wrapper{
	width: 80%;
	margin: auto;
}
#landing,
#recherche,
#besoins,
#campus
{
  .titre{
    margin: 0 auto;
    width: 45%;
    text-align: center;
    margin-bottom: 25px;
    h1{
      font-size: 1.5rem;
      font-weight: bold;
      letter-spacing: 2.0px;
      margin: 0 auto;
      color: $ng;
      span{
        text-decoration: underline;
      }
    }
  }
}
.button{
  padding: 15px 15px;
  color: $blc;
  font-weight: bold;
  border-radius: 45px 45px;
  background: $o;
  border: none;
  box-shadow: 0 2px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
  text-align: center;
}
.lien_active{
  border-bottom: 2px solid $o;
}

#landingservice,
#landingtravaux,
#landingetudiant
{
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  min-height: 400px;
  padding-top: 200px;
  h1{
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 1.2;
    text-shadow: 0px 1px 1px $ng;
    color: $ng;
  }
}


    
/*//////////////////////////////*/

/* HEADER */
header{
  background: transparent;
  position: absolute;
  width: 100%;
  z-index: 20;

  /* navigation */
  & > div{
    display: flex;
    justify-content: space-around;
    padding: 15px 0px;
    align-items: center;
    .logo{
      figure{
        width: 50px;
        height: 50px;
        img{
          width:  100%;
          height: 100%;
        }
      }
    }
    nav{
      display: flex;
      a{
        margin-left: 15px;
        color: $ng;
        &:first-child{
          margin-left:0px;
        }
      }
    }
    /* connecter */
    .connecter{
      width: 15%;
      text-align: center;
    }
  }
}
/*accessibité*/
.access{
  text-align: center;
  width: 15%;
  position: fixed;
  z-index: 10000;
  top: 90px;
  left: 40px;
  button{
    background: $o;
    color: $blc;
    border: none;
    border-radius: 50%;
    padding: 5px 5px;
    cursor: pointer;
    i{
      font-size: 2.5rem;
    }
  }
}


/* CONTENT */
#landingservice{
  background-image: url(../images/service/service.jpg);
  .titleservice{
    color: $blc;
    text-shadow: 0px 1px 1px $blc;
  }
}
/*etapes des services*/
#etapesservices{
  padding: 33px;
  background: $ng;
  ul{
    display: flex;
    justify-content: space-between;
    li{
      width: 31%;
      text-align: center;
      & > h2{
        background: $o;
        padding: 7px;
        margin: 0 auto;
        margin-bottom: 15px; 

        font-weight: 600;
        font-size: 2.0rem;
        text-align: center;
        color: $blc;

        width: 55px;
        border-radius: 50%;

      }
      P{
        color: $blc;
      }
    }
  }
}


/* Tous nos service */
#touslesservices{
  padding-top: 70px;
  h1{
    font-size: 1rem;
    text-align: left;
    margin-bottom: 35px;
  }
  ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    li{
      display: flex;
      flex-direction: column;
      background: $blc;
      overflow: hidden;
      border-radius: 30px;
      width: 31%;
      padding-bottom: 10px;
      box-shadow: 0px 1px 1px $ng;
      margin-bottom: 25px;
      h2{
        font-size: 1.1rem;
        margin-bottom: 15px;
        margin-top: 5px;
        padding: 0 3px;
        font-weight: 600;
        height: 60px;
      }
      figure{
        order: -1;
        width: 100%;
        height: 170px;
        img{
          width: 100%;
          height: 100%;
        }
      }

      div{
        display: flex;
        flex-direction: row;
        margin-bottom: 25px;
        padding: 0 4px;
        align-items: center;
        h3{
          color: $ng;
          font-size: 0.8rem;
          margin-left: 15px;
          span{
            i{
              color: $o;
            }
          }
        }
        & > figure{
          width: 50px;
          height: 50px;
          overflow: hidden;
          img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
      }
      & > .button{
        width: 250px;
        margin: 0 auto;
      }

    }
  }

  .voirplus{
    text-align: center;
    color: $od;
    margin-bottom: 30px;
  }
}


/* TRAVAUX */
/* CONTENT */
#landingtravaux{
  background-image: url(../images/travaux/travaux.jpeg);
  .titleservice{
    color: $blc;
    text-shadow: 0px 1px 1px $blc;
  }
}

/* ETUDIANTS */
/* CONTENT */
#landingetudiant{
  background-image: url(../images/etudiant/etudiant.jpeg);
  .titleservice{
    color: $blc;
    text-shadow: 0px 1px 1px $blc;
  }
}

#tousnosetudiants{
  padding-top: 70px;
  ul{
    display: flex;
    flex-wrap: wrap;
    /*position: relative;*/
    justify-content: center;
    /*margin-bottom: 50px;*/
    li{
      width: 31%;
      height: 370px;
      margin-left: 20px;
      margin-bottom: 25px;
      overflow: hidden;
      border-radius: 30px;
      position: relative;
      box-shadow: 0px 1px 5px $ng;
      transition: 0.5s ease;
      .img_position{
        position: absolute;
        z-index: 1;
        & > figure{
          width: 100%;
          height: 370px;
          margin-bottom: 15px;
          margin: 0 auto;
          border-radius: 15px;
          img{
            width: 100%;
            height: 100%;
            filter: brightness(85%);
            transition: 0.5s ease;
            &:hover{
              filter:brightness(100%);
              transition: 0.5s ease;
            }
          }
        }
      }
      .text_position{
        position: absolute;
        z-index: 2;
        width: 100%;
        padding-top: 25px;
        & > p{
          color: $blc;
          text-align: center;
          font-size: 1.4rem;
          font-weight: 600;

        }
      }
    }
  }
  .voirplus{
    text-align: center;
    color: $od;
    margin-bottom: 30px;
  }
}
/* FOOTER */
footer{
  padding: 35px 0;
  background-size: cover;
  background-position:center;
  background: $ng;
  div{
    & > ul{
      display: flex;
      justify-content: space-around;
      li{
        width: 20%;
        &:nth-child(1){
          /*text-align: center;*/
    
          & > div{
            display: flex;
            flex-direction: column;
            a{
              margin-bottom: 5px;
              color: $bld ;
              transition: 0.5s ease;
              &:hover{
                color:$od;
                transition: 0.5s ease-out;
              }
            }
          }
        }
        &:nth-child(2){
          & > div{
            display: flex;
            flex-direction: column;
            a{
              margin-bottom: 5px;
              color: $bld ;
              transition: 0.5s ease;
              &:hover{
                color:$od;
                transition: 0.5s ease-out;
              }
            }
          }
        }
        &:last-child{
          .langue{
            display: flex;
            width: 170px;
            padding: 10px 5px;
            border-radius: 25px 25px;
            background: $o; 
            color: $blc;
            justify-content: center;
          }
        }
        h2{
          text-decoration: underline;
          color: $blc;
          font-size: 1.2rem;
          margin-bottom: 15px;
          letter-spacing: 1.2px;
        } 
      }
      .monLogo{
        figure{
          width: 50px;
          height: 50px;
          img{
            width: 100%;
            height: 100%;
          }
        }
      }
      .social{
        div{
          display: flex;
          a{
            margin-left: 10px;
            i{
              color: $o;
              font-size: 1.5rem;
              transition: 0.5s ease;
              &:hover{
                color:$od;
                transition: 0.5s ease-out;
              }
            }
            &:first-child{
              margin-left: 0px;
            }
          }
        }
      }
    }
  }
}